<!-- 
    Jordyn Kuhn
    CIS 218
    2/12/2024
-->
 <!--doctype html-->

{% extends 'base.html' %}

{% block content %}

<h1>{{ restaurant.name }}</h1>
<p><a href="{% url 'review_new' %}">Write a Review</a></p>

{% for areview in restaurant.reviews.all %}
    <div class="review-entry">
    <h3>Author: {{ areview.author }} Rating:{{areview.rating}} Created: {{areview.created}}</h2>
    <p>{{ areview.body }}</p>
    <h3><a href="{% url 'review_detail' areview.pk %}">See Full Review</a></h2>
    </div>
{% endfor %}

{% endblock content %}